$base-color: #1919fb;
$border-radius: 5px;
$primary-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;
$box-shadow: 20px 20px 20px black;
$color-warning: #4bffff;
