$base-color: #f60000;
$border-radius: 2px;
$primary-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$secondary-font: "Times new romans";
$box-shadow: -20px 20px 20px black;
$color-warning: #fcbecd;
